<div class="banner">
  <div class="banner-content">
    <h1>Cocktails</h1>
  </div>
</div>

<div class="add-drink">
 <%= link_to 'Add a new cocktail', new_cocktail_path %>
</div>

<div class="cocktail-list">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="grey-card">
          <h3><%= cocktail.name %></h3>
        <br>

          <%= link_to 'Show', cocktail %> |
          <%= link_to 'Edit', edit_cocktail_path(cocktail) %> |
          <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
